data/*
model.pth
__pycache__/*
.vscode/*
lightning_logs/*
src/lightning_logs/*
mutag/*
MUTAG/*
processed/*
raw/*
*.pyc
.aider*
scripts/wandb/*
scripts/lightning_logs/*
scripts/SpatialGCL/*
scripts/???/*
